@model DashTechCRM.Models.CandidateMaster
@using DashTechCRM.Models

@{
    ViewBag.Title = "Add Candidate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    dashTech_crm_Entities db = new dashTech_crm_Entities();
}

<form class="form-horizontal" method="post" enctype="multipart/form-data" action="@Url.Action("UpdateCandidate","ManageCandidate",new { @area = "SalesAssociate"})">
    <input type="hidden" name="CandidateId" value="@Model.CandidateId" />
    <input type="hidden" name="CandidateStatus" value="@Model.CandidateStatus" />
    <input type="hidden" name="Date" value="@Model.Date" />
    <input type="hidden" name="RefSalesAssociate" value="@Model.RefSalesAssociate" />
    <input type="hidden" name="PaymentStatus" value="@Model.PaymentStatus" />
    <div class="row">


        <div class="col-lg-6">
            <div class="card m-b-20">
                <div class="card-body">

                    <h4 class="mt-0 header-title">@ViewBag.title</h4>
                    <div class="form-group">
                        <label>Candidate Name:</label>
                        <input type="text" name="CandidateName" value="@Model.CandidateName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Email Address:</label>
                        <input type="email" name="EmailId" value="@Model.EmailId" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Contact Number:</label>
                        <input type="text" name="MobileNumber" value="@Model.MobileNumber" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask required />
                    </div>
                    <div class="form-group">
                        <label>Recurring Type:</label>
                        <select class="form-control select2" id="RefRecurringTypeId" name="RefRecurringTypeId">
                            <option>Select</option>
                            @foreach (RecurringType recurringType in db.RecurringTypes.ToList())
                            {
                                if (Model.RefRecurringTypeId == recurringType.RecurringTypeId)
                                {
                                    <option value="@recurringType.RecurringTypeId" selected>@recurringType.RecurringTitle</option>
                                    continue;
                                }
                                <option value="@recurringType.RecurringTypeId">@recurringType.RecurringTitle</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Service Type:</label>
                        <select class="form-control select2" id="RefServiceId" name="RefServiceId">
                            <option>Select</option>
                            @foreach (SalesServiceMaster salesService in db.SalesServiceMasters.ToList())
                            {
                                if (Model.RefServiceId == salesService.ServiceId)
                                {
                                    <option value="@salesService.ServiceId" selected>@salesService.ServiceName</option>
                                    continue;
                                }
                                <option value="@salesService.ServiceId">@salesService.ServiceName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Technology:</label>
                        <select class="form-control select2" id="RefServiceId" name="TechnologyId">
                            <option>Select</option>
                            @foreach (TechnologyMaster tech in db.TechnologyMasters.ToList())
                            {

                                if (Model.TechnologyId == tech.TechId)
                                {
                                    <option value="@tech.TechId" selected>@tech.TechTitle</option>
                                    continue;
                                }
                                <option value="@tech.TechId">@tech.TechTitle</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card m-b-20">
                <div class="card-body">

                    <div class="form-group">
                        <label>Total Amount:</label>
                        <input type="number" value="@Model.TotalAmount" min="0" name="TotalAmount" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <label>Total Paid:</label>
                        <input type="number" min="0" name="PaidAmount" value="@Model.PaidAmount" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <label>Visa Status:</label>
                        <input type="text" min="0" value="@Model.VisaStatus" name="VisaStatus" class="form-control" />
                    </div>

                    <div class="form-group">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">

                                        <label>Agreement Sent:</label>
                                        @if (Model.AgreementSent == true)
                                        {
                                            <input type="checkbox" value="true" name="AgreementSent" class="checkbox" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="AgreementSent" value="true" class="checkbox" />
                                        }
                                        <input name="AgreementSent" type="hidden" value="false" />

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Attachment URL Link:</label>
                                        <input type="url" name="AgreementLink" id="AgreementLink" class="form-control" />
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div class="form-group">
                        <label>Agreement (%):</label>
                        <input type="number" min="0" value="@Model.Agreement" name="Agreement" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Remakrs :</label>
                        <textarea name="Remarks" class="form-control">@Model.Remarks</textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" style="padding:5px 90px" type="submit"><i class="fas fa-save"></i> Update</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</form>

<link href="/content/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<script src="/content/plugins/input-mask/jquery.inputmask.js"></script>
<script src="/content/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/content/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="/content/plugins/select2/js/select2.min.js"></script>
<script>
    $('[data-mask]').inputmask();

    $('.select2').select2();
</script>
