@using DashTechCRM.Models
@{ ViewBag.Title = "Submission Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    dashTech_crm_Entities db = new dashTech_crm_Entities(); }

<style>
    .rowCount {
        color: #F16C69;
        font-size: large;
    }

    .modal-xl {
        max-width: 1200px;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div style="color: #f16c69; cursor: pointer;" data-toggle="collapse" href="#collapseTodaySubmissionList" role="button" aria-expanded="true" aria-controls="collapseTodaySubmissionList"> <i class="fa fa-filter"></i> Submission List Today   <i class="fa fa-plus float-right" style="color: #f16c69; cursor: pointer;"></i></div>
                <hr />
                <div class="collapse show" id="collapseTodaySubmissionList">
                    <div class="row">
                        <div class="col-xl-12">
                            <h4 class="mt-0 header-title mb-4">Submission List Today</h4>
                            <div class='rowCount' id="rowCount"></div>
                            <div id="gridList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div style="color: #f16c69; cursor: pointer;" data-toggle="collapse" href="#collapseSubmissionList" role="button" aria-expanded="false" aria-controls="collapseSubmissionList"> <i class="fa fa-filter"></i> Submission List <i class="fa fa-plus float-right" style="color: #f16c69; cursor: pointer;"></i></div>
                <hr />
                <div class="collapse" id="collapseSubmissionList">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="mt-0 header-title mb-4">Submission List</h4>
                            <div class='rowCount' id="rowCount1"></div>
                            <div id="gridOldList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade bs-example-modal-lg" id="InterviewModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Add Interview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("NewInterview","SubmissionsManage",new { @area = "Recruiter"})" method="post">
                    <input type="hidden" value="" id="assignedId" name="aid" />
                    <input type="hidden" value="" id="RefSumissionId" name="RefSumissionId" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Interview Date</label>
                                                <input class="form-control" type="date" name="DateOfInterview" id="DateOfInterview" style="width: 100%;" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Time Of Interview</label>
                                                <input class="form-control" type="time" name="TimeOfInterview" id="TimeOfInterview" style="width: 100%;" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Mode Of Interview</label>
                                                <select class="form-control select2" name="RefModeOfInterview" id="RefModeOfInterview" required>
                                                    <option></option>
                                                    @foreach (InterviewMode item in db.InterviewModes.ToList())
                                                    {
                                        <option value="@item.ModeId">@item.ModeOfInterviewTitle</option>}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Round Of Interview</label>
                                                <input class="form-control" name="RoundOfInterv" id="RoundOfInterv" style="width: 100%;" required />
                                            </div>
                                            <div class="form-group">
                                                <label>Interview Support?</label>
                                                <input type="checkbox" name="InterviewSupport" id="InterviewSupport" />
                                            </div>
                                            <div class="form-group">
                                                <label>Interview Support Name</label>
                                                <input class="form-control" name="InterviewSupportName" id="InterviewSupportName" style="width: 100%;" />
                                            </div>

                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label>Job Description</label>
                                                <textarea class="form-control" name="JobDescription" id="JobDescription" style="width: 100%;" required></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>Interview Details</label>
                                                <textarea class="form-control" name="InterviewDetails" id="InterviewDetails" style="width: 100%;" required></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>Interview Joining Details</label>
                                                <textarea class="form-control" name="InterviewJoiningDetails" id="InterviewJoiningDetails" style="width: 100%;" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-danger">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="loadpanel"></div>

<script>
    var loadPanel = $(".loadpanel").dxLoadPanel({
        shadingColor: "rgba(0,0,0,0.4)",
        visible: false,
        showIndicator: true,
        showPane: true,
        shading: true,
        closeOnOutsideClick: false
    }).dxLoadPanel("instance");

    var submissionCols = [
        { dataField: "Interview", caption: "Schedule Interview", alignment: 'center', width: 150, dataType: 'string',type:'buttons' , cellTemplate: function (container, options) {
            $("<div>").text('').on('dxclick',
                    function () {
                        InterviewShowData(options.data);
                    })
                .append($("<button>", { "class": "btn btn-primary btn-sm" }).append($("<b>", { "text": "Interview" })))
                .appendTo(container);
        }},
        { dataField: "CandidateName", caption: "Candidate Name", alignment: 'center', width: 180, dataType: 'string' },
        { dataField: "VendorName", caption: "Vendor", alignment: "center", width: 180, dataType: 'string' },
        { dataField: "VendorContactNumber", caption: "Vendor Contact Number", alignment: "center", width: 200, dataType: 'string' },
        { dataField: "SubmissionDate", caption: 'Submission Date', alignment: "center", dataType: "date", width: 180, format: 'dd MMM yyyy' },
        { dataField: "FollowUpDate", caption: 'Follow Up Date', alignment: "center", dataType: "date", width: 180, format: 'dd MMM yyyy' },
        { dataField: "VendorEmailId", caption: 'Vendor Email Id', alignment: "center", dataType: 'string', width: 180 },
        { dataField: "ClientName", caption: "Client Name", alignment: 'center', width: 150, dataType: 'string' },
        { dataField: "JobTitle", caption: "Job Title", alignment: 'center', width: 150, dataType: 'string' }
    ];
    $(function() {
        getCandidateList();
        getCandidateSubmissionListToday();
    });

    function getCandidateList() {

        //start getting data from GetCandidateList
        loadPanel.show();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetTodaySubmissionList")",
            success: function(data) {
                data = JSON.parse(data);
                loadPanel.hide();
                var dataGrid = $("#gridList").dxDataGrid({
                    dataSource: data,
                    columns: submissionCols,
                    columnsAutoWidth: true,
                    wordWrapEnabled: true,
                    rowAlternationEnabled: true,
                    showBorders: true,
                    grouping: { autoExpandAll: true },
                    paging: { pageSize: 10 },
                    pager: { showPageSizeSelector: true, allowedPageSizes: [10, 25, 50, 100] },
                    headerFilter: { visible: true },
                    filterRow: { visible: true, applyFilter: "auto" },
                    allowColumnResizing: true,
                    groupPanel: { visible: true },
                    searchPanel: { visible: true, width: 240, placeholder: "Search..." },

                    export: {
                        enabled: true,
                        fileName: "Today Candidate List",
                        allowExportSelectedData: true,
                        customizeExcelCell: options => {
                            if (options.gridCell.rowType === "header") {
                                options.backgroundColor = _dxGridHeaderBGColor;
                                options.font.color = _dxGridHeaderColor;
                            }
                        }
                    },
                    selection: { mode: "multiple" },
                    allowColumnReordering: true,
                    columnFixing: { enabled: false },
                    columnChooser: {
                        enabled: true,
                        mode: "select",
                        allowSearch: true
                    },
                    onExporting: function (e) {
                        e.component.beginUpdate();
                        e.component.columnOption("Button", "visible", false);
                        e.component.columnOption("CandidateStatus", "visible", false);
                    },
                    onExported: function (e) {
                        e.component.columnOption("Button", "visible", true);
                        e.component.columnOption("CandidateStatus", "visible", true);
                        e.component.endUpdate();
                    },
                    onCellPrepared: function (e) {
                        if (e.rowType === "header") {
                            e.cellElement.css("text-align", "center");
                            e.cellElement.css("font-weight", "bold");
                        }
                        if (e.rowType === "group") {
                            e.cellElement.css("text-align", "center");
                        }
                    },
                    onContentReady(e) {
                        jQuery('#rowCount').html('Total Records : ' + jQuery("#gridList").dxDataGrid('instance').totalCount());
                    }
                }).dxDataGrid('instance');

                var applyFilterTypes = [
                    {
                        key: "auto",
                        name: "Immediately"
                    }, {
                        key: "onClick",
                        name: "On Button Click"
                    }
                ];
            }
        });

        //end getting data from GetCandidateTimeLine
    }

    function getCandidateSubmissionListToday() {
        //start getting data from GetCandidateList New Marketing
        loadPanel.show();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetSubmissionList")",
            success: function(data) {
                data = JSON.parse(data);
                loadPanel.hide();
                var dataGrid = $("#gridOldList").dxDataGrid({
                    dataSource: data,
                    columns: submissionCols,
                    columnsAutoWidth: true,
                    wordWrapEnabled: true,
                    rowAlternationEnabled: true,
                    showBorders: true,
                    grouping: { autoExpandAll: true },
                    paging: { pageSize: 10 },
                    pager: { showPageSizeSelector: true, allowedPageSizes: [10, 25, 50, 100] },
                    headerFilter: { visible: true },
                    filterRow: { visible: true, applyFilter: "auto" },
                    allowColumnResizing: true,
                    groupPanel: { visible: true },
                    searchPanel: { visible: true, width: 240, placeholder: "Search..." },
                    export: {
                        enabled: true,
                        fileName: "Submission List old",
                        allowExportSelectedData: true,
                        customizeExcelCell: options => {
                            if (options.gridCell.rowType === "header") {
                                options.backgroundColor = _dxGridHeaderBGColor;
                                options.font.color = _dxGridHeaderColor;
                            }
                        }
                    },
                    selection: { mode: "multiple" },
                    allowColumnReordering: true,
                    columnFixing: { enabled: false },
                    columnChooser: {
                        enabled: true,
                        mode: "select",
                        allowSearch: true
                    },
                    onCellPrepared: function (e) {
                        if (e.rowType === "header") {
                            e.cellElement.css("text-align", "center");
                            e.cellElement.css("font-weight", "bold");
                        }
                        if (e.rowType === "group") {
                            e.cellElement.css("text-align", "center");
                        }
                    },
                    onContentReady(e) {
                        jQuery('#rowCount1').html('Total Records : ' + jQuery("#gridOldList").dxDataGrid('instance').totalCount());
                    }
                }).dxDataGrid('instance');
            }
        });
        //end getting data from GetCandidateTimeLine

    }
    function showData(aid) {
        $("#SubmissionModal").modal("show");
        alert(aid);
        $("#SId").val(aid);
    }
    $('[data-mask]').inputmask();
    $('.select2').select2();

    function InterviewShowData(data) {
        $('#InterviewModal').modal({ backdrop: 'static', keyboard: false });
        $("#assignedId").val(data.AssignedId);
        $("#RefSumissionId").val(data.SubmissionId);
    }
</script>
